/* blog.css */







#main_inner_blog {



	background-color: #fff;	



	border: 1px solid #b3b3b3;



	margin-top: 10px;



	padding: 20px 19px;



}







#sectionTitle {



	background-color: #e1e2e3;



	height: 40px;



	margin: 0 auto 10px;



	width: 659px;



}







#sectionTitle img {



	float: right;



}







#main_inner h1 {



	color: #001f49;



	xdisplay: inline-block;



	xfloat: left;



	font: 300 24px/1 "Open Sans", Arial, Helvetica, sans-serif;



	margin: 10px auto 10px auto;



}







#main_inner p {



	color: #444;



	/*font: 12px/1 Arial, Helvetica, sans-serif;*/



}







#main_inner p a, 



.agent_tab_blog_posts p a {



	/*font: 12px/1 Arial, Helvetica, sans-serif;*/



	color: #001f49;



	text-decoration: none;



}







.date_auth {



	margin: 5px 0;



}







.sort_header {



	color:#001f49;



	display: block;



	font-size: 16px;



	font-weight: 400;



	padding: 10px;



}







.sort_header a {



	color: #001f49;



	float: right;



	font-size: 10px;



	font-weight: 400;



	padding: 20px 10px auto auto;



}







.sort_by {



	color:#444;



	font: 12px/1 Arial, Helvetica, sans-serif;



	margin: 10px;



}



.sort_by p {



	display: inline-block;



	margin: 4px 0 0 0;



}



.sort_by select {



	float: right;



	margin-bottom: 10px;



	width: 110px;



}







#sectionTitle p {



	color: #001f49;



	display: inline-block;



	float:left;



	font: 16px/1 Arial, Helvetica, sans-serif;



	margin: 10px auto auto 10px;



}







#search_box {



	background-color: #e1e2e3;



	border: 1px solid #d0d0d0;



	color: #001f49;



	display: block;



	font-size: 16px;



	font-weight: 400;



	margin: 10px auto;



	padding: 10px;



}







#search_box input[type=text] { 



	background: #fff url(../images/blog_mag_glass.png) left top;



	height: 17px;



	margin-top: 5px;



	margin-right: 10px;



	width: 140px;



}







#search_box input[type=image] {



	float: right; 



	margin-top: 3px;



}







#social_links img {



	width: auto;



}