/* home.css */







body.home header {



	height: 73px;



	margin: 0 auto 0;



	}







#home_top_container {



	position: relative;



}







#home_login {



	float: left;



	margin-right: 30px;



}







#home_reg_box {



	background: rgba(75, 76, 78, 0.5);



	border: 1px solid rgba(255, 255, 255, 0.9);



	color: #001f49;



	float: left;



	font: 10px/1 "Trebuchet MS", Arial, Helvetica, sans-serif;



	height: 109px;



	margin: 20px;



	text-align: center;



	text-transform: uppercase;



	width: 143px;



}







.reg_title {



	color: #fff;



	font-size: 13px;



	font-weight: bold;



	margin-top: 23px;



	-moz-text-shadow: -0.1em -0.1em #001f49;



	-webkit-text-shadow: -0.1em -0.1em #001f49;



	text-shadow: -0.1em -0.1em #001f49;



}







#home_reg_box p {



	margin: 5px auto 12px;



}







.login {



	background: url(../images/bttn_back_grey.png) repeat-x;



	border: none;



	color: #001f49 !important;



	cursor: pointer;



	font: bold 11px/1 Arial, Helvetica, sans-serif !important;



	margin-top: 5px;



	padding: 4px 20px !important;



	text-decoration: none;



	text-transform: uppercase;



}







.psswd {



	color: #001f49 !important;



	font: 10px/1 Arial, Helvetica, sans-serif !important;



	padding-left: 5px;



	vertical-align: middle;



}







.grey_button {



	background: url(../images/bttn_back_grey.png) repeat-x;



	color: #001f49 !important;



	display: inline-block;



	font: bold 11px/1 Arial, Helvetica, sans-serif;



	padding: 4px 20px;



	text-decoration: none;



	margin-top: 3px;



}







#home_top_right {



	position: absolute;



	top: 20px;



	right: 20px;



	width: 250px;



	z-index: 99;



}







.welcome_box {



	background-color: #fff;



	border: 1px solid #d8d8d8;



	display: block;



	float: left;



	height: 371px;



	width: 213px;



	margin: 0 9px 10px 0;



}







.welcome_box img {



	margin: 10px 0 0 10px;



}







.welcome_title {



	color: #383838;



	font: bold 12px/1 "Trebuchet MS", Arial, Helvetica, sans-serif;



	margin: 10px 20px 0 10px;



}







.welcome_box p {



	color: #383838;



	font: 11px/16px Arial, Helvetica, sans-serif;



	margin: 5px 20px 0 10px;



	width: 90%;



}







#welcome_box_right {



	display: block;



	float: left;



	margin: 0 0 10px 0;



	width: 288px;



}







.welcome_right_top {



	margin-bottom: 6px;



}







/* slide + tab combo */







/*



#tabs {



	border: 1px solid #ccc;



}



*/







#tab-slides {



	margin-bottom: 10px;



}







ul.tab-control {



	background: #414243;



	height: 35px;



	margin: 0;



	overflow: hidden;



	padding: 0;



	width: 100%;



}







ul.tab-control li {



	border-right: 1px solid rgb(48, 48, 49);



	display: inline;



	float: left;



	list-style: none;



}







ul.tab-control li a {



	display: block;



	color: rgb(147, 147, 147);



	font-size: 11px;



	padding: 11px 16.5px;



	text-decoration: none;



	text-transform: uppercase;







	-moz-transition: all ease 0.2s;



	-webkit-transition: all ease 0.2s;



	transition: all ease 0.2s;



}







ul.tab-control li a:hover,



ul.tab-control li a.active {



	background-color: white;



	color: rgb(0, 31, 73);



}







.tab {



	background: #fdfdfd url(../images/tabs_large_back.png) repeat-x left bottom;

	min-height: 240px;

}







.slide-container,



.slide {



	padding: 5px 10px 10px;

    width: 935px;

	

}







.t_property {



	color: #001f49;



	display: inline;



	float: left;



	font-family: Arial, Helvetica, sans-serif;



	height: 125px;



	margin: 20px 0 10px 30px;



	width: 410px;



}







.t_property img {



	display: inline;



	float: left;



}







.t_thumb {



	border: 1px solid #d8d8d8;



	margin-right: 10px;



}







.t_title {



	font-size: 14px;



	/*white-space: nowrap;*/
	margin-bottom: 0px !important;



}







.t_label {



	font-size: 12px;



	font-weight: bold;



}







.t_txt {



	font-size: 12px;



}







.t_link img {



	margin-top: 5px;



}







#tab-mini-bar {



	background: #fff;



	padding: 6px;

	display: none;


}







#tab-mini-bar a.btn-more {



	float: left;



	color: #999;



	display: inline;



	font: bold 12px/17px Arial, Helvetica, sans-serif;



	text-decoration: none;



	text-transform: uppercase;



	vertical-align: bottom;



}







#tab-mini-bar a.btn-more i.icon {



	background: url(../images/expand-collapse.gif) no-repeat 0 0;



	display: inline;



	float: left;



	height: 17px;



	margin: 0 5px 0 0;



	width: 17px;



}







#tab-mini-bar a.btn-more i.icon.active {



	background-position: 0 -17px;



}







#tab-mini-bar .pager .slide-prev,



#tab-mini-bar .pager .slide-next {



	background: url(../images/mini-prev-next-arrows.gif) no-repeat;



	cursor: pointer;



	display: inline;



	float: left;



	height: 15px;



	width: 15px;



}







#tab-mini-bar .pager,



#tab-mini-bar .current-page {



	display: inline;



	float: left;



}







#tab-mini-bar .pager {



	border-right: 1px solid #999;



	border-left: 1px solid #999;



	line-height: 17px;



	margin: 0 0 0 5px;



	padding: 0 5px;



}







#tab-mini-bar .pager a.slide-prev {



	background-position: 0 0;



}







#tab-mini-bar .pager a.slide-prev:hover {



	background-position: 0 -15px;



}







#tab-mini-bar .pager a.slide-next {



	background-position: -15px 0;



}







#tab-mini-bar .pager a.slide-next:hover {



	background-position: -15px -15px;



}







#tab-mini-bar .current-page {



	font-size: 11px;



	line-height: 17px;



	padding: 0 5px;



}



/*news listing page*/

.newsbox

{

	background: #b1b2b4;

	padding-bottom: 5px;

	padding-left: 10px;

	padding-right: 10px;

	padding-top: 10px;

}



.newsbox .headingbox h3

{

	color: #FFFFFF;

    float: left;

    font-size: 17px;

    font-weight: normal;

    line-height: 24px;

    margin: 0;

    padding-bottom: 10px;

    width: 55%; 

}



.newsbox .headingbox a.viewall

{

	color: #021F47;

    display: block;

    float: left;

    font-size: 10px;

    margin-top: 8px;

    text-align: right;

    text-decoration: underline;

    text-transform: uppercase;

    width: 40%;

}



.newsbox .newsList

{

	padding: 5px;

	background: #dcdcdc;

	overflow: hidden;

	height: 60px;

	overflow-y: scroll;

}





.newsbox .newsList h5

{

	color: #5e5e5e;

	font-style: 12px;

	font-weight: normal;

	font-style: italic;

	margin: 0 0 5px;

}



.newsbox .newsList h5 span

{

	color: #021f47;

}



.newsbox .newsList p

{

	color: #939393;

    font-size: 12px;

    margin: 0 0 5px;

}



.newsbox .newsList a.readmore

{

	color: #021F47;

    font-size: 9px;

    text-decoration: underline;

    text-transform: lowercase;

}



.newsbox .newsList .eachNews

{

	padding-bottom: 2px;

	margin-bottom: 3px;

	border-bottom: 1px solid #b6b6b6;

}



/* Homepage Slides */



#tab-slides ol.dsidx-results

{

	margin: 0px;

	position: inherit !important;

}





#tab-slides p

{

	/*display: none !important;*/

}

#tab-slides p span {
	display: inline-block;
}
#tab-slides p span.beds,
#tab-slides p span.baths,
#tab-slides p span.price {
	display: block;
}



#tab-slides ol.dsidx-results li

{

	list-style: none;

	float: left;

	padding-left: 15px;

	padding-bottom: 10px;

	width: 31%;	

}



#tab-slides ol.dsidx-results li:nth-child(3n)

{

	padding-left: 0px;

	padding-bottom: 10px;	

}



#tab-slides div.dsidx-results-widget .featured-listing {

	width: 45%;

	float: left;

}



#tab-slides div.dsidx-results-widget .dsidx-panel .dsidx-photo {

    float: left;

    margin-bottom: 40px;

    margin-right: 5px;

}



#tab-slides h4

{

	margin-top: 0px;
	margin-bottom: 0px;

}



/* ---------------------------- home page listings slider -------------------------------- */

ul.bxslider li {
	/* box-sizing: border-box; */
}

.slide-container div.dsidx-results-widget .dsidx-slideshow {
	/*height: 125px !important;*/
	padding: 0 !important;
}
.slide-container div.dsidx-results-widget .dsidx-controls {
	display: none;
}
.slide-container div.dsidx-results-widget .dsidx-slideshow {
	height: 140px !important;
}
.slide-container div.dsidx-results-widget .dsidx-slideshow.dsidx-panel ul {
	margin: auto !important;
	padding: 10px 0 !important;
	height: 140px !important;
	width: 840px;
}
.slide-container div.dsidx-results-widget .dsidx-slideshow.dsidx-panel ul li.featured-listing {
	padding-left: 20px !important;
}

/* left / right arrows */
.slide-container .dsidx-slideshow.dsidx-panel .dsidx-slideshow-control.dsidx-move-up,
.slide-container .dsidx-slideshow.dsidx-panel .dsidx-slideshow-control.dsidx-move-down {
	position: absolute !important;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	background: url(../images/controls.png) no-repeat 0 -32px;
	border: none !important;
}
.slide-container .dsidx-slideshow.dsidx-panel .dsidx-slideshow-control.dsidx-move-down {
	background: url(../images/controls.png) no-repeat -43px -32px;
	right: 0;
}
.slide-container .dsidx-slideshow.dsidx-panel .dsidx-slideshow-control.dsidx-move-up:hover {
	background-position: 0 0;
}
.slide-container .dsidx-slideshow.dsidx-panel .dsidx-slideshow-control.dsidx-move-down:hover {
	background-position: -43px 0;
}


.wpf_ref { display: none; }