/* listings.css */







#listings { }







#listings h1 {



	color: #001f49;



	font: 400 18px/1 "Trebuchet MS", Arial, Helvetica, sans-serif;



	text-transform: uppercase;



}







.greybar_hr {



	border-top: 1px solid #d2d1d1;



	width: 100%;



}


#quote {

	position: relative;
	float: right;
	width: 208px;
	margin-left: 20px;
	margin-bottom: 10px;
	background-color: #f7f7f7;
	padding: 0 16px;
	border-left: 1px solid #d2d1d1;

}

#quote::before {

	content: '“';
	position: absolute;
	font: 400 74px "Georgia", sans-serif;
	color: #e5e4e4;
	margin-left: -14px;
	margin-top: -6px;

}

#quote-text {

	position: relative;
	margin: 14px 5px;
	font: 300 14px "Open Sans", Arial, Helvetica, sans-serif;
	z-index: 99;

}

#quote-text::first-line {

	font-weight: 400;
	font-size: 17px;

}




.listing_pod {



	margin-bottom:108px;



}







.listing_pod img {



	float: left;



}







.listing_pod_content {



	float: left;



	font-family: Arial, Helvetica, sans-serif;



	margin-left: 7px;



	width: 410px;



}







.listing_pod p {



	display: block;



	font-size: 12px;



	margin: auto auto 10px 10px;



	padding-bottom: 5px;



}







.listing_btn {



	margin-left: 7px;



}







.listing_info_label {



	color: #001f49;



	font-weight: 800;



	margin: auto auto 0 10px;



	text-transform: uppercase;



}







.agent_links {



	display: block;



	padding-bottom: 5px;



	margin: 7px auto 10px 10px;



}







#tabs h1 {



	color: #001f49;



	font: 400 18px/1 "Trebuchet MS", Arial, Helvetica, sans-serif;



	text-transform: uppercase;



}







#tabs p {



	color: #444;



	/*font: 12px/1 Arial, Helvetica, sans-serif;*/



}







.tab_search_mls_btn {



	float: right;



}



#schooltabs table {

	width: 100%;

	text-align: left;

}

#schooltabs table tr {

	border-bottom: 1px solid #ccc;

}

#schooltabs table th {

	text-transform: uppercase;

	padding: 20px 10px 10px;

	font-family: "Open Sans", Arial, Helvetica, sans-serif;

	font-size: 1.2em;

	font-weight: 300;

}

#schooltabs table td {

	vertical-align: top;

}

#schooltabs table p {

	font-size: 1.16em;

	line-height: 1.4em;

	color: #666;

}

#schooltabs table p::first-line {

	font-size: 1.2em;

}

#schooltabs table .bluestar {

	color: #34578f;

}

#schooltabs table .whitestar {

	color: #ccc;
	
}