/* nav.css */

.main-nav li.active > a {
	background-position: bottom center;
	color: #fff;
}

.sub {
	background-color: #666;
	border-bottom: 10px solid rgba(75, 76, 78, 0.5);
	color: #fff;
	left: -987em;
	padding-bottom: 10px;
	position: absolute;
	top: 25px;
	width: 960px;
	z-index: 1001;
}

#mn-listings:hover .sub,
#mn-listings.active .sub { left: -230px; }


.sub ul { }

.sub ul li {
	display: block;
}

.sub li a {
	color: #fff;
}

.sub-section {
	display: inline;
	float: left;
	padding: 14px 0 0 14px;
	width: 180px;
}

#listing-context.sub-section {
	font-size: 11px;
	line-height: 16px;
	margin-left: 26px;
	width: 296px;
}

.sub-section ul li a,
.sub-section li a:hover {
	background: none;
	height: auto;
	margin: 0;
	padding: 0;
}

.sub-section ul li {
	border-bottom: 1px solid #ccc;
	display: block;
	margin: 0;
	padding: 5px 0;
	width: 100%;
}

.sub-section ul li a {
	color: #ccc;
	line-height: 1;
	text-transform: none;
}

.sub-section ul li a:hover {
	color: #fff;
}