.side-panel-container * {

	margin: 0;

	outline: none;

	padding: 0;

}



.side-panel-container ul, .side-panel-container li {

	list-style: none;

}



.side-panel-container {



}



.side-panel {

	background-color: #fff;

	border-bottom: 1px solid #b9b8b8;

	border-left: 1px solid #b9b8b8;

	border-top: 1px solid #b9b8b8;

	margin: 1em 0 0;

	padding: 0 2em 2em 0;

	position: absolute;

	right: -425px;

	/*right: 0;*/

	width: 400px;

	z-index: 100;

}

.side-panel-controls,

.side-panel-controls li {

	display: inline;

	width: 20px;

}

.side-panel-controls {

	float: left;

	height: 400px;

	left: -20px;

	position: relative;

	top: -1px;

}

.side-panel-controls li {

	padding: .25em 0;

}

.side-panel-controls li > a {

	background-color: #eee;	

	border-bottom: 1px solid #b9b8b8;

	border-top: 1px solid #b9b8b8;

	border-left: 1px solid #b9b8b8;

	display: block;

	margin: 0 0 1px;

	padding: 1.75em .25em .5em .35em;

	position: relative;

	text-indent: -987em;

}

.side-panel-controls li > a > span.text {

	display: block;

	font-size: 0;

	font-weight: bold;

	margin: 0 0 1px;

	text-indent: -987em;

	width: 9px;

}

.side-panel-controls li > a span.arrow {

	border-bottom: 4px solid transparent;

	border-right: 4px solid #666;

	border-left: 4px solid transparent;

	border-top: 4px solid transparent;

	height: 0;

	position: absolute;

	right: 8px;

	top: 5px;

	width: 0;

}

.side-panel-controls li > a.active {

	background-color: #fff;

}

.side-panel-controls li > a.active span.arrow {

	border-bottom: 4px solid transparent;

	border-right: 4px solid transparent;

	border-left: 4px solid #001f49;

	border-top: 4px solid transparent;

	right: 4px;

}

.side-panel-tab {

	display: inline;

	float: left;

	margin: 20px 0 10px 10px;

	width: 368px;

}



li#results-link > a span.text {

	background: url(../images/mls-results-tabs.gif) no-repeat;

	height: 47px;

}

li#stats-link > a span.text {

	background: url(../images/mls-results-tabs.gif) no-repeat 0 -48px;

	height: 32px;

}

li#saved-listings-link > a span.text {

	background: url(../images/mls-results-tabs.gif) no-repeat 0 -81px;

	height: 83px;

}

li#saved-searches-link > a span.text {

	background: url(../images/mls-results-tabs.gif) no-repeat 0 -165px;

	height: 93px;

}



li#results-link > a.active span.text {

	background: url(../images/mls-results-tabs.gif) no-repeat -9px 0;

	height: 47px;

}

li#stats-link > a.active span.text {

	background: url(../images/mls-results-tabs.gif) no-repeat -9px -48px;

	height: 32px;

}

li#saved-listings-link > a.active span.text {

	background: url(../images/mls-results-tabs.gif) no-repeat -9px -81px;

	height: 83px;

}

li#saved-searches-link > a.active span.text {

	background: url(../images/mls-results-tabs.gif) no-repeat -9px -165px;

	height: 93px;

}